@tailwind base;
@tailwind components;
@tailwind utilities;

.card-component {
    @apply w-6/12 flex flex-col items-center p-[42px];
}

.jar-label {
    @apply font-extrabold text-[10px] text-mono-jar-label-brown absolute whitespace-nowrap;
}

.stats-data {
    @apply flex gap-3 mx-0 my-3 px-5 py-0;
}

.stats-data__label {
    @apply font-normal text-sm leading-4 text-mono-gray;
}

.stats-data__value {
    @apply font-medium text-base leading-6 text-black;
}

.fee-warning {
    @apply font-normal text-xs leading-4 text-center text-mono-gray -mt-5 mb-4;
}

.chip-button {
    @apply border text-center transition-[background] duration-[0.2s] cursor-pointer select-none min-h-[40px] flex flex-1 flex-col justify-center mx-2 my-0 px-[3px] py-0 rounded-2xl border-solid border-[#ccc] bg-white;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-box-align: center;
    -moz-box-align: center;
    -o-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -ms-flex-pack: center;
  }

.chip-button:hover {
    @apply bg-mono-light-gray;
}

  .money-input-subtitle {
    @apply font-normal text-xs leading-none text-center text-mono-gray -mt-6 mb-4 mx-4;
  }
  
  .money-input-subtitle.hidden {
    @apply opacity-0 select-none block;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  
  .money-input-block {
    @apply flex justify-center font-bold text-5xl text-center transition-opacity duration-[0.2s] px-0 py-5;
}

  /* State Classes */

  .empty {
    @apply opacity-40;
  }

  .incorrect {
    @apply opacity-50 text-mono-incorrect-red;
  }
/* OLD CSS */

/* GRADIENT CONTAINER START */
.gradient-container {
    @apply block relative box-border w-[394px] box-border mb-8 p-6 rounded-3xl border-[solid] border-4 border-transparent border-[double] bg-[linear-gradient(white,white),linear-gradient(92.12deg,#57b5f9_0%,#da11ba_100%)];
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
}

.inputF::placeholder {
  @apply text-base font-normal text-left translate-x-0 translate-y-0;
  transition: font-size 0.3s ease, transform 0.3s ease;
}

.inputF:focus::placeholder {
  @apply text-xs text-left translate-x-[0%] translate-y-[-140%];
}

.inputF:hover::placeholder {
  @apply text-xs text-left translate-x-[0%] translate-y-[-140%];
}
/* GRADIENT CONTAINER END */
/* MonoPay START */
.tap-to-pay {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 48px;
  margin: 0 auto;
  width: 340px;
  border-radius: 8px;
  background: #000;
  justify-content: center;
}

/* MonoPay END */
/* GooglePay Button START */
.gpay-button {
  background-origin: content-box;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  border: 0px;
  border-radius: 4px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 1px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  cursor: pointer;
  height: 40px;
  min-height: 40px;
  height: 100%;
  padding: 12px 24px 10px;
  display: flex;
  width: 440px;
}

.gpay-button.black {
  background-color: #000;
  box-shadow: none;
}

.gpay-button.short, .gpay-button.plain {
  min-width: 90px;
  width: 340px;
}

.gpay-button.black.short, .gpay-button.black.plain {
  background-image: url(https://www.gstatic.com/instantbuy/svg/dark_gpay.svg);
}

.gpay-button.black.short.new_style, .gpay-button.black.plain.new_style {
  background-image: url(https://www.gstatic.com/instantbuy/svg/refreshedgraphicaldesign/dark_gpay.svg);
  min-width: 160px;
  background-size: contain;
}

.gpay-button.black.active {
  background-color: #5f6368;
}

.gpay-button.white.focus {
  box-shadow: #e8e8e8 0 1px 1px 0, #e8e8e8 0 1px 3px;
} 
/* GooglePay Button END */
/* Manual card input START */
#manual-pan-trigger {
  max-width: none;
  padding-left: 24px;
  padding-right: 24px;
  margin: 0
}

#manual-pan-trigger {
  display: none;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  margin-left: 24px;
  margin-right: 24px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 340px;
  margin-bottom: 42px
}

#manual-pan-trigger.shown {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  /* display: box; */
  display: flex
}

#manual-pan-trigger .splitter {
  margin-top: 24px;
  margin-bottom: 8px;
  border-top: .5px solid #ccc;
  width: 100%
}

#manual-pan.hidden {
  display: none
}

#card-input-button,.button.white {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  /* display: box; */
  display: flex;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  padding: 8px;
  cursor: pointer;
  background: transparent;
  color: #e85e5b;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: background 0.2s;
  -moz-transition: background 0.2s;
  -o-transition: background 0.2s;
  -ms-transition: background 0.2s;
  transition: background 0.2s;
  border-radius: 8px
}

#card-input-button .card-icon,.button.white .card-icon {
  width: 16px;
  height: 26px;
  margin-right: 8px
}
/* Manual card input END */
/* Footer START */
.footer-holder {
  display: flex;
  width: 990px;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  color: #fff;
}

.footer-holder .footer-copyright {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  opacity: .8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80)
}

.button-holder {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  /* display: box; */
  display: flex
}

.widget-button + .widget-button {
  margin-left: 16px
}

.widget-button {
  background: rgba(255,255,255,0.08);
  border: .5px solid rgba(255,255,255,0.4);
  border-radius: 16px;
  position: relative;
  -webkit-align-self: end;
  align-self: end;
  -ms-flex-item-align: end;
  padding: 0 16px;
  height: 40px;
  color: #fff;
  margin-top: 8px;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  /* display: box; */
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: background 0.2s ease-in-out;
  -moz-transition: background 0.2s ease-in-out;
  -o-transition: background 0.2s ease-in-out;
  -ms-transition: background 0.2s ease-in-out;
  transition: background 0.2s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer
}

.widget-button:hover {
  background: rgba(255,255,255,0.2)
}

.widget-button-icon {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  /* display: box; */
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center
}

.widget-button-icon img {
  width: 16px;
  height: 16px
}

.widget-button-icon-text {
  margin-left: 8px
}
/* Footer END */
